blue = #25aff4
orange = #f90
black = #212121
white = #fcfcfc
grey = #6b6b6b
scratch-logo = 'https://scratch.mit.edu/images/logo_sm.png'

body
  background white
  color black
  font-family Helvetica Neue, Open Sans, Helvetica, Arial, sans-serif